*{
margin: 0;
padding: 0;
}
#header{
position: absolute;
z-index: 10;
width: 100%;
}
.navbar{
font-family: 'Open Sans', sans-serif;
padding: 50px 0;
}
.navbar-brand{
font-weight: 700;
font-size: 1.8em;
}
.navbar-dark .navbar-brand{
color: #262626;
}
.nav-item{
font-weight: 700;
font-size: 1.5em;
text-transform: uppercase;
padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
color: smokewhite;
}

.main{
position : relative;
background: url(xyz.jpg);
min-height: 100vh;
background-size: cover;
background-position: center;

}


.main-body{
    position: relative;
    color: aliceblue;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.heading{
    position: relative;
    top: 200px;
}
.heading img{
    width:120px;
    height:120px;
    border-radius: 100%;
    border: 4px solid ;
    border-color: aliceblue;
}

.heading h1{
    padding-top: 20px;
}
.prof{
    text-align: center;
   font-size :20px;
}
.prof ul{
    margin: 0px;
    padding: 0px;
}

.prof ul li{
    display: inline-block;
    padding: 10px;
color : aliceblue;
}

.social {
    padding-top:10px;
    
}
.social i{
    padding: 20px;

}

.parallax{
    background: url('https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')no-repeat center center fixed ;
    -webkit-background-size: cover;

}

.parallax-inner{
    text-align: center;
    padding-top: 80px;
    color: white;
    font-family:'Open Sans', sans-serif ;
    padding-bottom: 150px;
}



.info-blocks{
    
}
.block-a{
    display: inline-block;
    width: 300px;
    padding-top: 200px;
    padding-bottom: 50px;  
    background: #FEE715FF;
    text-align: center;
    margin: 30px;
    color: #101820ff;     
}
.block-a:hover  {
    transform : scale(1.1);
    font-size: 60px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
}

.block-b:hover{
    transform : scale(1.1);
    font-size: 60px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
}
.block-a p{
    font-size: 25px;
}
.block-b p{
    font-size:25px;
}
.block-b{
    display: inline-block;
    width: 300px;
    padding-top: 200px;
    padding-bottom: 50px;  
    background: #101820FF;
    text-align: center;
    margin: 30px;     
}

.small-title
{
    padding-left: 50px;
    padding-top: 50px;
}
.small-title svg{
    display: inline-block;
}
.small-title span{
    display: inline-block;
    font-size: 30;
}

.small-sk{
    margin-top:50px;
}

.small-sk span{
    padding: 20px;
    font-size: 25px;
}

.third-page{
    color: white;
    background: url('https://images.pexels.com/photos/1040499/pexels-photo-1040499.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    -webkit-background-size: cover;
    height: 900px;
    text-align: center;
    
}

.third-head{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.third-head h2{
    padding-top:30px;
    padding-bottom:30px;
}

.third-info-block{
    padding-top:30px;
}

.third-info-artistly{
    display: inline-block;
    width: 350px;
    padding-top: 150px;
    padding-bottom: 150px;  
    background:#FEE715FF;
    background-size: 100% ;
    text-align: center;
    color: #2a2a2a; 
    margin: 10px;   
}

.third-info-artistly img{
    width: 100px;
}

.chatbot{
    width: 130px;
}
.third-info-artistly p{
    padding-top:30px;
    font-size: 30px;
    margin: 0px;
}

.third-info-artistly:hover{
    transform : scale(1.1);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px  !important;
  }

.third-info-artistly:hover .middle{
    opacity: 1;
}

.third-info-artistly:hover {
    opacity: 0.3;
}

.third-info-artistly:hover .artistly {
    opacity: 1;
}






.my-5{
color : white;
font-family: 'Open Sans', sans-serif;
   position : relative;
background: url(background5.png);
min-height: 100vh;
background-size: cover;
background-position: center;
}
.my-5 .container{
font-family: 'Open Sans', sans-serif;
padding-top: 80px;
}

.my-5 .card-body{
box-shadow: 0 20px 30px 0px  rgba(0,0,0,0.9);
 background-color: yellow;
color: black;
 font-weight: 700;
}
